<api>
    <document title="Sample API" description="Providing sample APIs to the world!"/>

    <sections>

        <section title="Hello World API" description="A description of the Hello World API">
            <request url="/hello/world" verbs="GET,POST,PUT,DELETE,Any verb you like!">
                <description>
                    <![CDATA[An API's description <strong>can</strong> contain <u>HTML</u> tags<br/>
                            The descriptions can also run multi-line]]>
                </description>
            </request>

            <request url="/hello/components" verbs="GET">
                <description>
                    <![CDATA[Your API can contain some different <strong>components</strong>]]>
                </description>

                <code title="PHP Example (without line numbers)" showLineNumbers="false">
<![CDATA[<?php
    class CodeElement extends BaseElement
    {
        private $title;
        private $code;
        private $showLineNumbers;

        public function __construct()
        {
        }
?>
                ]]>
                </code>

                <code title="ActionScript 3.0 Example (with line numbers)" showLineNumbers="true">
<![CDATA[package
{
    import mx.collections.ArrayList;
    import mx.collections.IList;
    import mx.core.ClassFactory;
    import mx.events.FlexEvent;

    import spark.components.CheckBox;
    import spark.components.DataGroup;
    import spark.events.RendererExistenceEvent;

    public class CheckBoxGroup extends DataGroup
    {
    }
}
                ]]>
                </code>

                <alert type="warning" title="Did I grab your attention?">
                    <![CDATA[You can create alert boxes of four types:

                    <code>info, warning, success &amp; error</code>]]>
                </alert>

                <alert type="success" title="See?">
                    <![CDATA[=)]]>
                </alert>

                <table title="We have tables, too" columns="Column 1,Column 2">
                    <row type="info">
                        <cell>You</cell>
                        <cell>can</cell>
                    </row>
                    <row type="error">
                        <cell>even</cell>
                        <cell>add</cell>
                    </row>
                    <row type="warning">
                        <cell>row-level</cell>
                        <cell>alert styles</cell>
                    </row>
                    <row type="success">
                        <cell>Nice, innit?</cell>
                    </row>
                    <row>
                        <cell>...or you can just</cell>
                        <cell>leave them vanilla</cell>
                    </row>
                </table>
            </request>
        </section>

        <section title="Infinity API" description="Add as many sections as you like!">
            <request url="/infinity?to=beyond" verbs="GET"/>
        </section>

    </sections>

</api>